* {
  margin: 0;
  padding: 0;
}

.snow_container {
  background-color: #292b38;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.snow {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-animation: snowFall 10s cubic-bezier(0.1, -0.6, 0.2, 0);
          animation: snowFall 10s cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes snowFall {
  0% {
    opacity: 0;
    top: 0;
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  10% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  30% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  40% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}

@keyframes snowFall {
  0% {
    opacity: 0;
    top: 0;
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  10% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  30% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  40% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}

.box {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.steam {
  position: absolute;
  bottom: 113px;
  left: 40%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  mix-blend-mode: screen;
  -webkit-animation: steam-one 8s ease-out infinite;
          animation: steam-one 8s ease-out infinite;
  z-index: 1;
}

.steam img {
  width: 270px;
}

@-webkit-keyframes steam-one {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateX(0) scale(0.25);
            transform: translateX(0) scale(0.25);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-100px) scale(1);
            transform: translateY(-100px) scale(1);
    opacity: 0;
  }
}

@keyframes steam-one {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateX(0) scale(0.25);
            transform: translateX(0) scale(0.25);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-100px) scale(1);
            transform: translateY(-100px) scale(1);
    opacity: 0;
  }
}

.curry {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 200px;
}

.curry img {
  width: 300px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 0.55em;
}

.title span {
  font-family: "M PLUS Rounded 1c", sans-serif;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  text-shadow: 3px 3px 0 #fa956a;
  display: inline-block;
  -webkit-animation: loading 1.4s infinite alternate;
          animation: loading 1.4s infinite alternate;
}

.title span:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.title span:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.title span:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.title span:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.title span:nth-child(6) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.title span:nth-child(7) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.title span:nth-child(8) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.title span:nth-child(9) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.title span:nth-child(10) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */